<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Блог сайта</title>
    <!--    <title>Getting Started: Serving Web Content</title>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1>Блог сайта</h1>
    <div th:with="el=${post}" class="alert alert-info mt-2">
        <h5 th:text="${el.title}"/>
        <p th:text="${el.anons}"/>
        <p th:text="${el.full_text}"/>
        <p>Просмотры: <span th:text="${el.views}"/></p>
        <a th:href="'/blog/' + ${post.id} + '/edit'" class="btn btn-warning">Редактировать</a><br><br>
        <form th:action="'/blog/' + ${post.id} + '/remove'" method="post">
            <button class="btn btn-warning" type="submit">Удалить</button>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>